NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_WORKER_DOCUMENTS_BUCKET=worker-documents
NEXT_PUBLIC_SUPABASE_APP_DATA_BUCKET=worker-documents

NEXT_PUBLIC_DATA_STORAGE_MODE=local
NEXT_PUBLIC_SUPABASE_ORG_ID=local-org
